.container {
  width: 80%;
  margin: 50px auto;
}

textarea {
  width: 400px;
  height: 100px;
  background: #eee;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.word-count {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
